body {
  color: #1d001c;
  background-color: #ffffe3;
  display: flex;
  justify-content: center;
}

.custom-keyboard {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.active-digit::after {
  content: "";
  animation: cursor-blink 1.25s steps(2) infinite;
  border-right: 2px solid #e06b88;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
